@{
    ViewData["Title"] = "Home Page";
}
@model GitHubUser

<div class="container" style="padding-top:50px">
    <div class="row" style="background-color:rgb(55,55,55);">
        <img src="@Model.Avatar_url" alt="@Model.Name's Avatar" style="width:200px;height:200px;padding-right:20px">
        <div class="small">
            <h1 class="display-4" style="color:white;">  @Model.Name</h1>
            <br />
            <h5 style="color:white;font-size:15px;">@Model.Login</h5>
            <h5 style="color:white;font-size:15px;">@Model.Email</h5>
            <h5 style="color:white;font-size:15px;">@Model.Company</h5>
            <h5 style="color:white;font-size:15px;">@Model.Location</h5>
        </div>
    </div>

    <div class="row">
        <h1 class="display-4">Repositories</h1>
    </div>

    @foreach (GitHubRepo r in Model.Repos)
    {
        <div class="mt-2 col-sm" style="background-color:maroon;padding:20px;">
            <p style="color:white">@r.Name</p>
            <p style="color:white">@r.Owner.Login</p>
            <p style="color:white">Last Updated: @r.Updated_at days ago</p>
            <img src="@r.Owner.Avatar_url" alt="@r.Owner.Name's Avatar" style="width:70px;height:70px;padding-right:20px">
            <input id="user=@r.Owner.Login&repo=@r.Name" class="btn-primary" type="button" value="view commits" />
        </div>
    }

    <div class="row">
        <table id="commitsTable" class="table table-striped">
           
        </table>
    </div>

</div>